/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

.post figcaption {
  text-align: justify;
  font-size: .8rem;
  font-style: italic;
  color: #E4D5C6;
}

.post-title { margin-top: .5rem !important; }

li {
  h3, h4 {
  margin-top:.05rem !important;
  margin-bottom:.05rem !important;
  }
  .post-meta-description {
    color: rgb(207, 39, 251);
    font-size: 15px;
    margin-top:.05rem !important;
    margin-bottom:.05rem !important;
  }
}

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 
