/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

.post figcaption {
  text-align: justify;
  font-size: .8rem;
  font-style: italic;
  color: #E4D5C6;
}

* {
  background-color: #E4D5C7;
  text-align: justify; 
}

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 
