/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

* {
  text-align: justify; 
}

body {
  background-color: #E4D5C7;
}

.twitter-tweet {
  margin:auto;
}

.avatar {
  vertical-align: middle;
  width: 70px;
  height: 70px;
  border-radius: 75%;
}

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 
